<div ng-show="isLoggedIn">
  Ola {{username}}. <a href="#" ng-controller="logoutController" ng-click='logout()'>Logout</a>
</div>
<div ng-show="!isLoggedIn">
    <a href="#/login">Login</a>
    <a href="#/register">Cadastro</a>
</div>
