<div>
  <h1>Novo Chat</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="save()">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" name="name" ng-model="chatForm.name" required>
    </div>
    <div class="form-group">
      <label>Descricao</label>
        <input type="text" class="form-control" name="descricao" ng-model="chatForm.description" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Salvar</button>
      </div>
  </form>
</div>
