<br />
<form ng-submit="newMessage()"  ng-controller="newMessageController">
    Mensagem: <input type="text" name="message"  ng-model="messageForm.message" required />
    <input type="submit" value="enviar" ng-disabled="disabled" />
</form>
<div id="chat-{{id}}" style="width: 100%; height: 400px; overflow: auto; border: 1px solid black; overflow-y: scroll; overflow-y: scroll; " scroll-glue>
    <div ng-repeat="message in messages">
        <p style="display: inline">
            <strong>{{message.username}}:</strong> {{message.message}}
        </p>
    </div>
</div>
